# vs code debugging
/.vscode

# config files
config.json
config.testing.json

# deply commands
deploy-commands.js

# package dependencies
/node_modules

# dist folder
/dist

# test data folder
/data
/mimamu